
            /* Colors */
            body {
                background: {BackgroundColor};
            }

            .blog-title {
                font-family: {TitleFont}, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
                font-weight: {TitleFontWeight};
            }

            .blog-title a,
            .description,
            .search-no-results,
            .likes-no-likes,
            .related-posts-wrapper > h2,
            .loader .loader-bar,
            .widget-title,
            .tagged-page-cta .tagged-page-cta-desc {
                color: {TitleColor};
            }

            .tagged-page-cta .tagged-page-cta-tag {
                color: {TitleColor};
                border-color: {TitleColor};
            }

            a {
                color: {AccentColor};
            }

            #pagination a,
            .nav-wrapper .nav-item .label {
                color: {AccentColor};
            }

            #pagination a.next:after {
                border-left-color: {AccentColor};
            }

            #pagination a.previous:after {
                border-right-color: {AccentColor};
            }

            .header-image.cover {
                background-image: url({HeaderImage});
            }

            .user-avatar {
                background-color: {BackgroundColor};
                border-color: {BackgroundColor};
            }

            .avatar-style-square .user-avatar {
                -webkit-box-shadow: 0 0 0 4px {BackgroundColor};
                box-shadow: 0 0 0 4px {BackgroundColor};
            }

            .no-header-image .logo-wrapper,
            .contain-header-image .logo-wrapper {
                color: {AccentColor};
            }

            /* Adjust logo for light accents on light backgrounds */
            .light-on-light.no-header-image .logo-wrapper,
            .light-on-light.contain-header-image .logo-wrapper {
                color: #444;
            }

            /* Adjust logo for dark accents on dark backgrounds */
            .dark-on-dark.no-header-image .logo-wrapper,
            .dark-on-dark.contain-header-image .logo-wrapper {
                color: #fff;
            }

            /* Logged-out compact Tumblr iframe */
            .tmblr-iframe-compact .tmblr-iframe--unified-controls {
                min-width: 100%;
                background-color: {BackgroundColor};
            }

            /* Sticky nav colors */
            .nav-fixed {
                background-color: {BackgroundColor};
            }

            .nav-responsive .inline-nav::after {
                background-image: linear-gradient(left, rgba({RGBBackgroundColor}, 0) 0%, rgba({RGBBackgroundColor},1) 100%);
                background-image: -webkit-linear-gradient(left, rgba({RGBBackgroundColor}, 0) 0%, rgba({RGBBackgroundColor},1) 100%);
                background-image: -moz-linear-gradient(left, rgba({RGBBackgroundColor}, 0) 0%, rgba({RGBBackgroundColor},1) 100%);
                background-image: -ms-linear-gradient(left, rgba({RGBBackgroundColor}, 0) 0%, rgba({RGBBackgroundColor},1) 100%);
                background-image: -o-linear-gradient(left, rgba({RGBBackgroundColor}, 0) 0%, rgba({RGBBackgroundColor},1) 100%);
            }

            @media screen and (max-device-width: 568px) {
                .header-image.cover {
                    background-image: url({HeaderImage-640});
                    -webkit-background-size: cover;
                    background-size: cover;
                }

                .avatar-style-square .user-avatar {
                    -webkit-box-shadow: 0 0 0 3px {BackgroundColor};
                    -moz-box-shadow: 0 0 0 3px {BackgroundColor};
                    box-shadow: 0 0 0 3px {BackgroundColor};
                }

            }
        
